<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.hw_login_page">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hw_Login_Page">
        <activity
            android:name=".Activitys.WhatsAppActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.wp_fragmentActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.fragment_loadActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.FragmentXMLActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.custSpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.customTaskActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.customlistviewActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.webviewActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.SimpleGridViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.simple_listviewActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.DateTimeActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AlertActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.SeekActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.SeekprintActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.GallaryActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.LinearLoginPage"
            android:exported="false" />
        <activity
            android:name=".Activitys.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.lumia"
            android:exported="false" />
        <activity
            android:name=".Activitys.part2"
            android:exported="false" />
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>